[Unit]
Description=Run meshblu-message-buster 60 seconds after boot
After=docker.service

[Timer]
OnStartupSec=1 minute

[Install]
WantedBy=timers.target
