[Unit]
Description=Report CloudWatch Meshblu Bus Notify to AWS
Requires=docker.service

[Service]
Type=simple
Restart=always
TimeoutStartSec=300
ExecStartPre=-/usr/bin/docker kill meshblu-message-buster
ExecStartPre=-/usr/bin/docker rm meshblu-message-buster
ExecStart=/bin/sh -c '/usr/bin/docker run \
  --name meshblu-message-buster \
  --env AWS_DEFAULT_REGION=$(/usr/bin/etcdctl get aws/region) \
  --env AWS_ACCESS_KEY_ID=$(/usr/bin/etcdctl get aws/access_key_id) \
  --env AWS_SECRET_ACCESS_KEY=$(/usr/bin/etcdctl get aws/secret_access_key) \
  --env MESHBLU_UUID=$(/usr/bin/etcdctl get meshblu-message-buster/uuid) \
  --env MESHBLU_TOKEN=$(/usr/bin/etcdctl get meshblu-message-buster/token) \
  --env MESHBLU_SERVER=$(/usr/bin/etcdctl get meshblu/host) \
  --env MESHBLU_PORT=$(/usr/bin/etcdctl get meshblu/port) \
  octoblu/meshblu-message-buster:latest'
